/* background / room */
:root{
    --onlyfont :"W95Font",sans-serif;
}


body{
    background-color: #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* monitor body */
.frame{
    position: relative;
    background-color: #D8DBDE;
    height: 95vh;
    width: 180vh;
    border: 3px solid #BFC3C7;
    box-shadow:
        0 8px 18px rgba(0,0,0,0.25),
        inset 0 0 8px rgba(0,0,0,0.15);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* bezel around the glass */
.content{
    height: 85vh;
    width: 170vh;
    border: 15px solid #1e1e1e;
    box-shadow: 0 8px 18px rgba(0,0,0,0.8);
    border-radius: 12px;
    background: #111;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* curved CRT glass */
.screen{
    width: 100%;
    height: 100%;
    border-radius: 16px;

    background: radial-gradient(
        circle at 50% 40%,
        #68aaacea 0%,
        #68aaacea 35%,
        #68aaacea 65%,
        #68aaacea 100%
    );

    box-shadow:
        inset 0 14px 30px rgba(0,0,0,0.28),
        inset 0 -10px 20px rgba(0,0,0,0.2),
        inset 18px 0 24px rgba(0,0,0,0.25),
        inset -18px 0 24px rgba(0,0,0,0.25);

    overflow: hidden;
    position: relative;

    /* subtle bulge */
    perspective: 700px;
    transform-style: preserve-3d;

}

/* start menu bar */
.startmenue{
    left: 0;
    position: absolute;
    bottom: 13px;
    width: 100%;
    height: 4vh;

    transform: translateZ(28px);

    border: 2px solid;
    border-radius: 10px;
    background-color: #bdbdbd;
    box-shadow: inset 2px 2px 1px 0px black;
}

.app-in-taskbar {
    height: 37px;
    width: 25vh;
    border: 2px solid;
    position: absolute;
    left: 124px;
    box-shadow: inset 3px 1px 0px 1px black,
        inset -2px -1px 2px 1px black;;
    background-color: #d6d6d6;
}

.app-in-taskbar p{
    font-weight: bold;
}
/* background-color: #68aaacea; */

.timebox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 100px;
    border: 2px solid;
    position: absolute;
    right: 32px;
    background-color: rgb(223, 223, 223);
}
.timebox p{
    font-family: var(--onlyfont);
    font-size: 20px;
}
.icon{
    height: 35px;
    position: absolute;
    left: 16px;
    top: 13px;
    width: 36px;
}