
@font-face {
  font-family: "W95Font";
 src: url("./fonts/W95font.otf") format("opentype");
}

:root{
  --onlyfont: "W95Font", sans-serif;
}

body{
  background:#c3c3c3;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  margin:0;
}

.frame{
  background:#D8DBDE;
  height:95vh;
  width:180vh;
  border:3px solid #BFC3C7;
  box-shadow:0 8px 18px rgba(0,0,0,.25), inset 0 0 8px rgba(0,0,0,.15);
  border-radius:10px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.content{
  height:85vh;
  width:170vh;
  border:15px solid #1e1e1e;
  box-shadow:0 8px 18px rgba(0,0,0,.8);
  border-radius:12px;
  background:#111;
  display:flex;
  justify-content:center;
  align-items:center;
}

.screen{
  width:100%;
  height:100%;
  border-radius:16px;
  background:radial-gradient(circle at 50% 40%, #68aaacea 0%, #68aaacea 100%);
  box-shadow:
    inset 0 14px 30px rgba(0,0,0,.28),
    inset 0 -10px 20px rgba(0,0,0,.2),
    inset 18px 0 24px rgba(0,0,0,.25),
    inset -18px 0 24px rgba(0,0,0,.25);
  overflow:hidden;
  position:relative;
  perspective:700px;
  transform-style:preserve-3d;
  filter: blur(1)
}

.startmenue{
  position:absolute;
  left:0;
  bottom:13px;
  width:100%;
  height:4vh;
  transform:translateZ(28px);
  border:2px solid;
  border-radius:10px;
  background:#bdbdbd;
  box-shadow:inset 2px 2px 1px 0 black;
}

.app-in-taskbar{
  height:37px;
  width:25vh;
  border:2px solid;
  position:absolute;
  left:124px;
  box-shadow:inset 3px 1px 0 1px black, inset -2px -1px 2px 1px black;
  background:#d6d6d6;
}

.timebox{
  display:flex;
  align-items:center;
  justify-content:center;
  height:37px;
  width:100px;
  border:2px solid;
  position:absolute;
  right:32px;
  background:#dfdfdf;
}

.timebox p{
  font-family:var(--onlyfont);
  font-size:20px;
}

/* absolute-position desktop icons (your style) */
.icon{
  height:35px;
  width:36px;
  position:absolute;
  left:16px;
  top:13px;
}

.icon-name{
  position:absolute;
  left:6px;
  top:39px;
  color:white;
  font-size:14px;
  font-family:var(--onlyfont);
}

/* window */
.edge-window{
  height:76vh;
  width:145vh;
  border:8px solid #bdbdbd;
  position:absolute;
  top:2%;
  left:10%;
}

.titlebar{
  position:absolute;
  height:3vh;
  width:100%;
  top:-8px;
  left:-8px;
  border:6px solid #bdbdbd;
  background:#0000aa;
  font-family:var(--onlyfont);
}

#titlebar-text{
  font-family: var(--onlyfont);
  color:white;
  position:absolute;
  left:35px;
  bottom:-10px;
}
.webpade{
  height:76vh;
  width:145vh;
  background:white;
  overflow-y: auto;
  font-family: var(--onlyfont);
}

.name-text {
    color: black;
    font-weight: bold;
    left: 20px;
    position: absolute;
    top: 40px;
    font-size: 36px;
}

.webpade span{
    font-size: 15px;
}

.content-box {
    height: 72.5vh;
    border: 1px solid #ffffff14;
    width: 118.7vh;
    position: absolute;
    left: 18%;
    /* height: 100%; */
    top: 31px;
    background: white;
    overflow-y: scroll;
}

.content-box a{
    text-decoration: none;
}
.content-box a:active{
    color: white;
}
.h-text{
    position: inherit;
    /* top: 10px; */
}
#hobbie-text {
    top: 50px;
    position: relative;
}

.btn-wrap {
    position: absolute;
    top: 20vh;
    left: 43px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    /* font-size: 10px; */
}

.btn-class {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    color: #551a8b;
    font-family: var(--onlyfont);
    font-size: 24px;
    appearance: none;
    cursor: pointer;
    text-decoration: underline;
}

.btn-class:active::before{
    content: ">";
    font-weight: bold;
}

.box-1{
  display: none;
}

.box-2{
  /* display: none; */
}